MYSQL_DATABASE=trackflow
MYSQL_USER=trackflow
MYSQL_PASSWORD=trackflow_dev_only
MYSQL_ROOT_PASSWORD=root_dev_only

RABBITMQ_DEFAULT_USER=trackflow
RABBITMQ_DEFAULT_PASS=trackflow_dev_only

DB_URL=jdbc:mysql://mysql:3306/trackflow?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DB_USERNAME=trackflow
DB_PASSWORD=trackflow_dev_only
DB_DRIVER=com.mysql.cj.jdbc.Driver

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=trackflow
RABBITMQ_PASSWORD=trackflow_dev_only

MOCK_CARRIER_BASE_URL=http://mock-carrier:8003
WEBHOOK_CLOCK_SKEW_SECONDS=300
OUTBOX_PUBLISH_INTERVAL=2000
EVENT_MAX_RETRY_COUNT=5
